
.container{
  margin-top: 0;
}
.container-fluid2{
  margin-top: 50px;
}

.container-fluid{
  height: 50px;
  background-color: red;
}

.menulol{
background-color: white;
}

body{
  background-size: 100%;
background-color: #B297AC;
background-repeat: no-repeat;
}

.nicolas{
-moz-box-shadow: 2px 0px 5px 6px #A0B2B2;
-webkit-box-shadow: 2px 0px 5px 6px #A0B2B2;
-o-box-shadow: 2px 0px 5px 6px #A0B2B2;
box-shadow: 2px 0px 5px 6px #A0B2B2;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}

.img-fluid{
  border-radius: 5px;
}

.appareil{
  margin-bottom: 10px;
}

h1{
  color: black;
  text-align: center;
  margin-top: 30px;
}

p{
color: black;
}

a.titre{
  text-decoration: none;
}

.container3{
  margin-top: 50px;
}

.container4{
  margin-top: 50px;
}

.container5{
  margin-top: 50px;
}


.textevideos{
  text-align: center;
}
.container6{
  text-align: center;
}

.textephotos{
  text-align: center;
}

.card-body2 {
   bottom: 5px;
   bottom: 0px;
   border: 1px solid #276D0A;
   margin: 2px;
   width: 100%;
   height: 400px;
   overflow: scroll;
}

.btn-primary{
background-color: red;
font-family: 'Nanum Brush Script', cursive;
}

.btn-primary:hover{
  background-color: red;
}

.footer{
  margin-top: 200px;
  width: 100%;
  color: white;
}

.bouton{
  margin-top: 50px;
  text-align: center;

}

.container12{
  margin-top: 50px;
}

.center{
width: 150px;
  margin: 40px auto;

}
