
.container{
  margin-top: 0;
}
.container-fluid2{
  margin-top: 50px;
}

.container-fluid{
  height: 50px;
  background-color: red;
}



.menu ul li{
  display: inline-block;
  margin-top: 5px;
  font-family: 'Nanum Brush Script', cursive;
}

.menu ul li a{
text-decoration: none;
color: #000000;
font-size: 25px;
margin-right: 15px;
margin-left: 17px;
}

body{
  background-size: 100%;
background-image: url('img/test/fond.jpg');
background-repeat: no-repeat;
}

h1{
  color: white;
}

p{
color: white;
}



.container3{
  margin-top: 50px;
}

.container4{
  height: 100px;
}
.card-body2 {
   bottom: 5px;
   bottom: 0px;
   border: 1px solid #276D0A;
   margin: 2px;
   width: 100%;
   height: 400px;
   overflow: scroll;
}

.btn-primary{
background-color: red;
font-family: 'Nanum Brush Script', cursive;
}

.btn-primary:hover{
  background-color: red;
}
